<div class="bg-bottom animate" style="background-image: url('img/maze.png')"></div>

<footer>
	<div class="left">
		<a href="mobile/" class="external">â† Go to mobile site</a>
	</div>
	<div class="right">
		by Hasumashi
	</div>
</footer>
