<title>Node gamepad</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Webgamepad">
<meta name="keywords" content="node game gamepad experiment">
<meta name="theme-color" content="#6d8496">
<link rel="icon" type="image/png" href="favicon.png">
<link href="/mobile/style.css" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/mobile/touch.js"></script>
<script src="./api/config"></script>  <!-- Loaded via REST API -->
