<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head_mobile %>
	</head>
	
	<body class="landscape-only">
		<div id="rotate-info">
			<img src="/mobile/img/rotate.png">
			<h1>Rotate your phone</h1>
		</div>
		
		<% include ../partials/header %>
		
		<!--h1>Game</h1-->
		<div id="content">
			<h2 id="score" class="bg-text">Score: 0</h2>
			<button id="buttonA" class="big-button left">A</button>
			<button id="buttonB" class="big-button right">B</button>
		</div>
	</body>
</html>
