<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	
	<body>
		<div id="content">
		<% include ../partials/header %>
		
		<h1 class="middle"><%= title %></h1>
		<main>
			<a href="connect" class="btn">Play on Chrome</a>
		</main>
		
		<% include ../partials/footer %>
		</div>
	</body>
</html>
